body {
    background-color: #eae9e7;
}
.container {
    margin-top: 5rem;
    text-align: center;
}

nav {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #998c83;
}

#images {
    margin-bottom: 3rem;
    width: 100%;
}

#office-button {
    background-color: #aa9b64;
    border: none;
}